/*
theme default
$color-primary: #202f5b;
$color-primary-shade: #1c2950;
$color-primary-tint: #36446b;
 */

$color-primary: #3880ff;
$color-primary-shade: #3171e0;
$color-primary-tint: #4c8dff;

$color-secondary: #5260ff;
$color-secondary-shade: #4854e0;
$color-secondary-tint: #6370ff;

$color-tertiary: #5260ff;
$color-tertiary-shade: #4854e0;
$color-tertiary-tint: #6370ff;

$color-succes: #2dd36f;
$color-succes-shade: #28ba62;
$color-succes-tint: #42d77d;

$color-warning: #ffc409;
$color-warning-shade: #e0ac08;
$color-warning-tint: #ffca22;

$color-danger: #eb445a;
$color-danger-shade: #cf3c4f;
$color-danger-tint: #ed576b;

$color-medium: #92949c;
$color-medium-shade: #808289;
$color-medium-tint: #9d9fa6;

$color-light: #f4f5f8;
$color-light-shade: #d7d8da;
$color-light-tint: #f5f6f9;
